fastapi
uvicorn[standard]

sqlalchemy
psycopg2-binary
alembic

python-jose[cryptography]
passlib[bcrypt]

python-multipart
pydantic-settings

openai

pdfplumber
python-docx

redis
slowapi

loguru

pytest
httpx

python-dotenv